body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f9cb3a;
  cursor: url(./cursor.svg);
  cursor: none;
  transition: 0.5s;
}
p {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  /* font-size: calc(1rem + 1vw); */
  font-weight: bold;
  margin-bottom: 45px;
  text-align: center;
  text-transform: uppercase;
}
span {
  display: block;
  margin-top: 2px;
  text-transform: uppercase;
}
.caja {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
svg {
  width: 200px;
}
